.FulltimeJobs ul{
    border: 1px solid black;
}
.title{
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 700;
}
.company{
    font-size: 17px;
    font-family: DM Sans;
    color: #333333;
}
.all ul li{
    list-style: none;
    font-size: 15px;
    font-family: DM Sans;
    color: #333333;
}

.job-card{
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 65%;
}
.job-details{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}